// ***********************************
// IMPORTS
// Import susy, breakpoint, resets and grids
// ***********************************
@import "ui/reset";



// ***********************************
// HELPERS
// ***********************************
@import "variables";
@import "mixins";



// // ***********************************
// // BASE STYLES
// // ***********************************
@import "base";
@import "layout";
@import "typography"; // typography and links
@import "media";



// ***********************************
// UI ELEMENTS
// ***********************************
@import "ui/lists";
// @import "ui/buttons";
// @import "ui/tables";
// @import "ui/forms";
// @import "ui/code";
// @import "ui/panels";

// ***********************************
// content
// ***********************************
@import "content";


// ***********************************
// Navigation
// ***********************************
@import "navigation";

#sound-board {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    height: 1000px;
}

.sound-button {
    width: 50%;
    height: 10%;
    font-size: 100%;
    border: 1px solid white; 
    border-radius: 5px;
}

.sound-button :hover {
    background-color: darkgrey;
}
